@import "variables";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to bottom, $mid-grey, $dark-grey);
    font-family: "Poppins", sans-serif;
    color: $dark-grey;
}
h1,
h2,
h3,
h4,
h5,
a,
p {
    margin: 0;
}

.body-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    header{
        width: 100%;
        text-align: center;
        padding: 2rem;
        // background-image: url('https://phantom-marca.unidadeditorial.es/6320b6d50928c149e9ba2ba478b77cf5/resize/1320/f/jpg/assets/multimedia/imagenes/2022/03/07/16466726149096.jpg');
        background-size: cover;
        h1{
            margin: 0;
        }
        .buttons-menu{
            background-color: red;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 1rem;

                a{
                   
                    &:hover{
                        background-color: lightgreen;
                    }
                }
        }
    }
    .card-wrapper {
        border: 1px solid $dark-grey;
        width: 55%;
        padding: 1.5rem 1rem;
        border-radius: 5px;
        box-shadow: 9px 9px 9px $dark-grey;
        margin: 0;
        text-align: center;
        background-color: rgba($color: $white, $alpha: 0.5);
        button {
            margin-top: 1rem;
            height: fit-content;
            padding: 0.65rem 1rem;
            border-radius: 100px;
            text-decoration: none;
            background-image: radial-gradient(
                circle at center,
                $dark-grey 25%,
                $mid-grey 85%,
                $light-grey 100%
            );
            border: 1px solid rgba($color: $dark-grey, $alpha: 0.05);
            color: $white;
            box-shadow: 0px 0px 5px $mid-grey;

            &:hover {
                background-color: $mid-grey;
                cursor: pointer;
                color: $active;
                transition: all 0.5s ease;
            }
        }
        p + p{
            margin-bottom: .5rem;
        }
        .data{
            display: none;
            flex-direction: row;
            justify-content: space-around;
            transition: all 1s ease;

            & div{
                margin-bottom: 1rem;
            }

        }
        .base{
            display: inherit;
            transition: all 1s ease;
        }
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            justify-content: space-evenly;
            margin-top: 1.5rem;
            margin-bottom: 2.3rem;
        }
        .mapa{
            text-align: left;
            line-height: 1.75rem;
            p{
                margin: 0;
            }
        }
        .logo {
            width: 35%;
        }
    }
}
